.header-page{
  background-color: rgb(9, 11, 19);
}

.nav-link{
  padding: 16px 18px !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-link:hover{
  cursor: pointer;
}

svg{
  vertical-align: bottom;
  width: 20px !important;
  height: 20px !important;
}


