<div *ngIf="!movie || !trailer;else divMovie" class="p-0 w-100 h-100">
  <div class="w-100 h-100 d-flex align-items-center">
     <div class="preload p-0 w-100 d-flex justify-content-center align-items-center">
       <img src="assets/images/logo.svg" alt="logo de disney" width="200">
    </div>
  </div>
</div>

<ng-template #divMovie>
  <section class="movie-img" [ngStyle]="{backgroundImage: 'url(https://image.tmdb.org/t/p/original'+ movie.backdrop_path + ')', width: '100%', height: '100vh'}" >
    <div class="container">
      <header class="w-100 d-flex flex-wrap align-content-center container  title-movie">
        <h1 class="title-movie text-white w-75 text-left">{{movie.title}}</h1>
        <p class="text-white text-left w-50 description-movie">{{movie.overview}}</p>
        <div class="container w-100 d-flex pl-0">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Watch trailer
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe width="100%" height="315" [src]="createURL(trailer.results[0].key) | safeurl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </section>
  <section class="mt-5">
    <div class="container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Cast</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active mt-4" id="info" role="tabpanel" aria-labelledby="info-tab">
          <div class="row">
            <div class="col-3">
              <figure class="w-100">
                <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="{{movie.title}}" class="w-100">
              </figure>
            </div>
            <div class="col-9">
              <div class="d-flex flex-wrap align-content-center h-100 info-movie">
                <h2 class="w-100">{{movie.title}}</h2>
                <p  class="w-75">{{movie.overview}}</p>
                <p class="w-100">Release date: {{ movie.release_date | date: 'yyyy'}}</p>
                <p class="w-100">Runtime: {{movie.runtime | minuteAHours}}</p>
                <p>Genres: <span class="mr-2" *ngFor="let genre of movie.genres">{{genre.name}},</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2 mb-5" *ngFor="let actor of credits;">
              <article class="actor h-100">
                <img [src]="actor.profile_path | images" alt="{{actor.name}}" class="actor__img" [ngClass]="addClassNoImg(actor.profile_path)" />
                <h2 class="actor__name">{{actor.name}}</h2>
              </article>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <h2 class="text-white">{{movie.title}}</h2>
            <p  class="text-white">sas</p>
        </div>
      </div>
    </div>
  </section>
</ng-template>
