<div *ngIf="!movie || !trailer;else divMovie" class="p-0 w-100 h-100">
  <div class="w-100 h-100 d-flex align-items-center">
     <div class="preload p-0 w-100 d-flex justify-content-center align-items-center">
       <img src="assets/images/logo.svg" alt="logo de disney" width="200">
    </div>
  </div>
</div>

<ng-template #divMovie>
  <section class="movie-img" [ngStyle]="{backgroundImage: 'url(https://image.tmdb.org/t/p/original'+ movie.backdrop_path + ')', width: '100%', height: '100vh'}" >
    <div class="container">
      <header class="w-100 d-flex flex-wrap align-content-center container  title-movie">
        <h1 class="title-movie text-white w-75 text-left">{{movie.title}}</h1>
        <p class="text-white text-left w-50 description-movie">{{movie.overview}}</p>
        <div class="container w-100 d-flex">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Watch trailer
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe width="100%" height="315" [src]="createURL(trailer.results[0].key) | safeurl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </header>
    </div>


  </section>

</ng-template>
