@import '~swiper/swiper-bundle';

body {
  width: 100%;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}

.main-page{
  background-color: rgb(26, 29, 41);
  padding-top: 100px;
  min-height: 100vh !important;
}


.svg-color{
  fill: rgb(249, 249, 249);
}

.swiper-button-prev, .swiper-button-next{
 opacity: 0;
}


.swiper-button-prev:hover, .swiper-button-next:hover{
  opacity: 1;
  color: white;
  width: 100px;
}


.swiper-container {
  max-height: 85vh;
}

/* .s-wrapper.swiper.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events{
  height: 25vh !important;
} */

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.title-size {
  font-size: 24px;
}


/* style carousel slick */
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.slick-track {
  display: flex !important;
  justify-content: space-between;
}

.prev-slide {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 10;
  width: 50px;
  background-color: rgba(23, 26, 26, 0.678);
  height: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.next-slide {
  /* background: url(assets/images/right-arrow.png) no-repeat scroll -24px 0px; */
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  right: 0;
  z-index: 10;
  width: 50px;
  background-color: rgba(23, 26, 26, 0.678);
  height: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.slick-slide {
  padding: 0 10px;
}

.carousel{
  position: relative;
}
