<footer class="w-100">
  <div class="container">
    <figure class="w-100 d-flex justify-content-center">
      <img src="assets/images/logo.svg" alt="Logo de disney plus" width="94">
    </figure>
    <div class="d-flex flex-wrap justify-content-center footer-content">
        <p class="footer-content_element--padding">Politica de privacidad</p>
        <p class="footer-content_element--padding">Acuerdo de suscripción</p>
        <p class="footer-content_element--padding">Ayuda</p>
        <p class="footer-content_element--padding">Dispositivos compartidos</p>
        <p class="footer-content_element--padding">Acerca de Disney+</p>
        <p class="footer-content_element--padding">Publicidad personalizada</p>
        <p class="footer-content_element--center">
          Disney+ es un servicio por suscripción de pago, su contenido está sujeto a disponibilidad. El servicio Disney+ es comercializado por The Walt Disney Company (Argentina) S.A., Tucumán 1, Piso 4º (C1049AAA) Ciudad Autónoma de Buenos Aires, Argentina y número de CUIT 30-63984459-1.
        </p>

        <p class="footer-content_element">© Disney. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
